<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - ProjectManager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          integrity="sha384-..." crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="~/css/darktheme.css" />
</head>
<body class="bg-dark text-light">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-secondary">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <i class="fa-solid fa-home"></i> ProjectManager
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain"
                        aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarMain">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        @if (User.Identity?.IsAuthenticated == true)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Projects" asp-action="Index">
                                    <i class="fa-solid fa-list-check"></i> Projects
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Categories" asp-action="Index">
                                    <i class="fa-solid fa-tags"></i> Categories
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Comments" asp-action="Index">
                                    <i class="fa-solid fa-comment"></i> Comments
                                </a>
                            </li>
                        }
                    </ul>

                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </nav>
    </header>

    <main class="container py-4">
        @RenderBody()
    </main>

    <footer class="text-center text-secondary py-3">
        <hr />
        <small>ProjectManager &copy; @DateTime.Now.Year</small>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-..." crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
            integrity="sha256-..." crossorigin="anonymous"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
