@using Microsoft.AspNetCore.Identity
@using ProjectManager.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav ms-auto">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Manage" asp-action="Index">
                <i class="fa-solid fa-user"></i> @UserManager.GetUserName(User)
            </a>
        </li>
        <li class="nav-item">
            <form asp-area="Identity" asp-page="/Account/Logout" method="post" class="form-inline">
                <button type="submit" class="nav-link btn btn-link text-light">
                    <i class="fa-solid fa-right-from-bracket"></i> Logout
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">
                <i class="fa-solid fa-right-to-bracket"></i> Login
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">
                <i class="fa-solid fa-user-plus"></i> Register
            </a>
        </li>
    }
</ul>
